/*------------------------------------------------------------------
Project:  Xavie
Version:   1.0
Last change:    
Assigned to:    
Primary use:     
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
01. Reset CSS
normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css
-------------------------------------------------------------------*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #464e5c;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
}
p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 1rem;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.5;
    color: #454545;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    color: inherit;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
a:focus,
button:focus {
    outline: 0;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
dl,
ol,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    -o-text-overflow: "";
    text-overflow: "";
    border: solid 1px #ededed;
}
a:focus,
a:hover {
    color: #085083;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
    outline: 0;
    border: none;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
s button:focus {
    outline: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
input[type="email"]:focus,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="text"]:focus,
input[type="text"]:focus::-webkit-input-placeholder,
textarea:focus,
textarea:focus::-webkit-input-placeholder {
    border-color: #085083 !important;
    outline: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
input[type="email"]:focus,
input[type="email"]:focus:-ms-input-placeholder,
input[type="password"]:focus,
input[type="password"]:focus:-ms-input-placeholder,
input[type="text"]:focus,
input[type="text"]:focus:-ms-input-placeholder,
textarea:focus,
textarea:focus:-ms-input-placeholder {
    outline: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
input[type="email"]:focus,
input[type="email"]:focus::-ms-input-placeholder,
input[type="password"]:focus,
input[type="password"]:focus::-ms-input-placeholder,
input[type="text"]:focus,
input[type="text"]:focus::-ms-input-placeholder,
textarea:focus,
textarea:focus::-ms-input-placeholder {
    border-color: #085083 !important;
    outline: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
input[type="email"]:focus,
input[type="email"]:focus::placeholder,
input[type="number"]:focus,
input[type="number"]:focus::placeholder,
input[type="password"]:focus,
input[type="password"]:focus::placeholder,
input[type="text"]:focus,
input[type="text"]:focus::placeholder,
textarea:focus,
textarea:focus::placeholder {
    border-color: #085083 !important;
    outline: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
::-webkit-input-placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
}
:-moz-placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
    opacity: 1;
}
::-moz-placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
}
::-ms-input-placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
}
::placeholder {
    color: #a8a8a8;
    font-size: 13px;
    opacity: 0.8;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
    border: 1px solid #ededed;
    border-radius: 3px;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
label {
    font-size: 15px;
    font-weight: 400;
    color: #111;
    margin-bottom: 10px;
}
details {
    display: block;
}
blockquote {
    width: 85%;
    margin: auto;
    color: #454545;
    font-weight: 700;
    padding: 10px 30px 25px;
    position: relative;
}
blockquote:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
summary {
    display: list-item;
}
template {
    display: none;
}
del,
ins {
    text-decoration: none;
    position: relative;
    margin: 0 10px;
}
del:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: #cee7c8;
}
[hidden] {
    display: none;
}
.container {
    max-width: 1200px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #3fbc22;
    border-color: #3fbc22;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    margin-bottom: 10px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
}
.btn {
    color: #fff;
    border-radius: 50px;
    font-size: 14px !important;
    display: inline-block;
    font-weight: 700;
    padding: 7px 18px;
    float: none !important;
    line-height: 1.5;
    padding: 13px 30px;
    border-radius: 4px;
    font-family: SVN-GilroyBold;
    background-color: #00859b;
    color: #fff;
}
.main-title {
    font-family: SVN-GilroyBold;
    font-size: 16px;
    font-weight: 700;
    color: #0d222a;
    margin-bottom: 15px;
}
.btn[disabled] {
    cursor: not-allowed;
    background-color: #085083;
    border-color: #085083;
    opacity: 1;
}
.btn-primary {
    background-color: #085083;
    border-color: #085083;
}
.btn-secondary {
    background-color: #3fbc22;
    border-color: #3fbc22;
}
.btn-default {
    background-color: transparent;
    border-color: #ededed;
    color: #454545;
}
.btn-medium {
    padding: 14px 60px;
}
.btn-large {
    padding: 16px 40px;
}
.btn-circle {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
}
.btn-primary:hover {
    background-color: #3fbc22;
    border-color: #3fbc22;
    color: #fff;
}
.btn-secondary:hover {
    background-color: #085083;
    border-color: #085083;
    color: #fff;
}
.btn-default:hover {
    background-color: #085083;
    color: #fff;
    border-color: #085083;
}
.checkbox-field {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}
.checkbox-field label {
    color: #454545;
    font-size: 16px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.checkbox-field .shape {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    display: block;
    top: 0;
    position: relative;
    display: inline-block;
}
.checkbox-field .shape:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #085083;
    visibility: hidden;
    border-radius: 2px;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.checkbox-field input[type="checkbox"] {
    opacity: 0;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 10px;
    width: 25px;
    bottom: 0;
    height: 25px;
    cursor: pointer;
}
.checkbox-field input[type="checkbox"]:checked + span {
    border-color: #085083;
}
.checkbox-field input[type="checkbox"]:checked + span:before {
    visibility: visible;
}
.radio-field {
    text-align: left;
    position: relative;
}
.radio-field .circle {
    width: 18px;
    height: 18px;
    border: solid 1px #ededed;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.radio-field .circle:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    right: 2px;
    bottom: 2px;
}
.radio-field .circle,
.radio-field .circle:after {
    border-radius: 50%;
}
.radio-field input[type="radio"] {
    display: inline-block;
    width: auto;
    line-height: 1;
    height: auto;
    position: absolute;
    left: 0;
    top: 5px;
    opacity: 0;
    z-index: 9;
}
.radio-field input[type="radio"] {
    display: inline-block;
    width: auto;
    line-height: 1;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 9;
    right: 0;
    bottom: 0;
    margin: 0;
}
.radio-field input[type="radio"]:checked ~ .circle:after {
    background-color: #085083;
}
.radio-field input[type="radio"]:checked ~ .circle {
    border-color: #085083;
}
.radio-field label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 25px;
}
.input-number-box {
    position: relative;
}
.input-number-box button {
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 3px;
    width: 38px;
    bottom: 2px;
    border: none;
    background-color: #ededed;
    color: #085083;
    cursor: pointer;
}
.input-number-box button.plus {
    right: 2px;
    left: auto;
}
.input-number-box input[type="number"] {
    text-align: center;
}
.border-radius-0 {
    border-radius: 0;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-radius-10 {
    border-radius: 10px;
}
.mw-70 {
    max-width: 70%;
}
.box-shadow {
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
}
.img {
    display: block;
    width: 100%;
}
.border-none {
    border: none !important;
}
.border-t-2 {
    border-top: 2px solid #085083;
}
.opacity-05 {
    opacity: 0.5;
}
.opacity-08 {
    opacity: 0.8;
}
.opacity-1 {
    opacity: 1;
}
.pd-20 {
    padding: 20px !important;
}
.pd-25 {
    padding: 25px !important;
}
.pd-0-5 {
    padding: 0 5px !important;
}
.pd-0-15 {
    padding: 0 15px !important;
}
.pd-0-20 {
    padding: 0 20px !important;
}
.pd-0-30 {
    padding: 0 30px !important;
}
.pd-0-50 {
    padding: 0 50px !important;
}
.pd-0-100 {
    padding: 0 100px !important;
}
.pd-5-0 {
    padding: 5px 0 !important;
}
.pd-10-0 {
    padding: 10px 0 !important;
}
.pd-25-0 {
    padding: 25px 0 !important;
}
.pd-30-0 {
    padding: 30px 0 !important;
}
.pd-40-0 {
    padding: 40px 0 !important;
}
.pd-50-0 {
    padding: 50px 0 !important;
}
.pd-60-0 {
    padding: 60px 0 !important;
}
.pd-100-0 {
    padding: 100px 0 !important;
}
.pd-15 {
    padding: 15px !important;
}
.pd-t-30 {
    padding-top: 30px !important;
}
.pd-t-40 {
    padding-top: 40px !important;
}
.pd-t-50 {
    padding-top: 50px !important;
}
.pd-t-60 {
    padding-top: 60px !important;
}
.pd-t-70 {
    padding-top: 70px !important;
}
.pd-t-100 {
    padding-top: 100px !important;
}
.pd-b-20 {
    padding-bottom: 20px !important;
}
.pd-b-30 {
    padding-bottom: 30px !important;
}
.pd-b-40 {
    padding-bottom: 40px !important;
}
.pd-b-50 {
    padding-bottom: 50px !important;
}
.pd-b-60 {
    padding-bottom: 60px !important;
}
.pd-b-90 {
    padding-bottom: 90px !important;
}
.pd-b-100 {
    padding-bottom: 100px !important;
}
.mg-0 {
    margin: 0 !important;
}
.mg-5-0 {
    margin: 5px 0 !important;
}
.mg-10-0 {
    margin: 10px 0 !important;
}
.mg-t-5 {
    margin-top: 5px !important;
}
.mg-t-10 {
    margin-top: 10px !important;
}
.mg-t-15 {
    margin-top: 15px !important;
}
.mg-t-20 {
    margin-top: 20px !important;
}
.mg-t-25 {
    margin-top: 25px !important;
}
.mg-t-30 {
    margin-top: 30px !important;
}
.mg-t-40 {
    margin-top: 40px !important;
}
.mg-t-50 {
    margin-top: 50px !important;
}
.mg-t-60 {
    margin-top: 60px !important;
}
.mg-t-70 {
    margin-top: 70px !important;
}
.mg-t-100 {
    margin-top: 100px !important;
}
.mg-b-0 {
    margin-bottom: 0 !important;
}
.mg-b-5 {
    margin-bottom: 5px !important;
}
.mg-b-10 {
    margin-bottom: 10px !important;
}
.mg-b-15 {
    margin-bottom: 15px !important;
}
.mg-b-20 {
    margin-bottom: 20px !important;
}
.mg-b-25 {
    margin-bottom: 25px !important;
}
.mg-b-30 {
    margin-bottom: 30px !important;
}
.mg-b-35 {
    margin-bottom: 35px !important;
}
.mg-b-40 {
    margin-bottom: 40px !important;
}
.mg-b-45 {
    margin-bottom: 45px !important;
}
.mg-b-50 {
    margin-bottom: 50px !important;
}
.mg-b-60 {
    margin-bottom: 60px !important;
}
.mg-b-65 {
    margin-bottom: 65px !important;
}
.mg-b-70 {
    margin-bottom: 70px !important;
}
.mg-b-80 {
    margin-bottom: 80px !important;
}
.mg-b-100 {
    margin-bottom: 100px !important;
}
.mg-b-110 {
    margin-bottom: 110px !important;
}
.mg-b-120 {
    margin-bottom: 120px !important;
}
.mg-b-150 {
    margin-bottom: 150px !important;
}
.mg-r-40 {
    margin-right: 40px !important;
}
.mg-r-25 {
    margin-right: 25px !important;
}
.mg-r-20 {
    margin-right: 20px !important;
}
.mg-r-15 {
    margin-right: 15px !important;
}
.mg-r-10 {
    margin-right: 10px !important;
}
.mg-l-5 {
    margin-left: 5px !important;
}
.mg-0-15 {
    margin: 0 -15px !important;
}
.fs-60 {
    font-size: 60px !important;
}
.fs-54 {
    font-size: 54px !important;
}
.fs-46 {
    font-size: 46px !important;
}
.fs-42 {
    font-size: 42px !important;
}
.fs-40 {
    font-size: 40px !important;
}
.fs-36 {
    font-size: 36px !important;
}
.fs-32 {
    font-size: 32px !important;
}
.fs-30 {
    font-size: 30px !important;
}
.fs-28 {
    font-size: 28px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-11 {
    font-size: 11px !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-900 {
    font-weight: 900 !important;
}
.z-index-1 {
    z-index: 9;
}
.z-index-2 {
    z-index: 99;
}
.z-index-3 {
    z-index: 999;
}
.z-index-4 {
    z-index: 9999;
}
.z-index-5 {
    z-index: 99999;
}
.line-bottom {
    position: relative;
}
.line-bottom:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
}
.bg-primary {
    background-color: #2d7ee3;
}
.bg-secondary {
    background-color: #00bf94;
}
.text-primary {
    color: #085083 !important;
}
.text-secondary {
    color: #72c14a !important;
}
.text-tertiary {
    color: #a8a8a8 !important;
}
.text-quaternary {
    color: #454545 !important;
}
.text-red {
    color: #df2b18 !important;
}
.text-primary:hover > a,
a.text-primary:hover {
    color: #72c14a !important;
}
.text-secondary:hover > a,
a.text-secondary:hover {
    color: #085083 !important;
}
.text-tertiary:hover > a,
a.text-tertiary:hover {
    color: #72c14a !important;
}
a.text-red:hover {
    color: #df2b18 !important;
}
.position-relative {
    position: relative !important;
}
.position-vertical-center {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.single-tour {
    top: 35% !important;
}
.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 42px !important;
    border-color: #ededed !important;
}
textarea.form-control {
    height: auto !important;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
}
.form-control:placeholder {
    opacity: 0.8;
    font-size: 13px;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.overflow-hiden {
    overflow: hidden;
}
.dots {
    position: relative;
    display: inline-block;
}
.dots:after,
.dots:before {
    content: "";
    display: inline-block;
    background-color: #454545;
    height: 1px;
    width: 140px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.dots:before {
    right: 45px;
}
.dots:after {
    left: 45px;
}
.dots span {
    display: block;
    position: relative;
}
.dots span:after {
    content: "";
    position: absolute;
    right: -100%;
}
.dots span:before {
    content: "";
    position: absolute;
    left: -100%;
}
.dots span,
.dots span:after,
.dots span:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3fbc22;
}
.owl-dots {
    text-align: center;
    position: absolute;
    left: 80px;
    bottom: 20px;
    transform: translateY(-50%);
}
.owl-dots .owl-dot {
    width: 40px;
    display: inline-block;
    height: 5px;
    margin: 0 4px;
    background-color: #fff;
}
.owl-dots .owl-dot.active {
    background-color: #00859b;
}
.btn {
    float: none;
}
.page-banner {
    height: 400px;
}
.page-banner:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #085083;
    background: linear-gradient(90deg, rgba(8, 80, 131, 0.6) 0, rgba(114, 193, 74, 0.81) 100%, #085083 0);
}
.page-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.page-banner .info ul li {
    display: inline-block;
}
.page-banner .info li a {
    display: block;
    color: #fff;
    font-size: 18px;
}
.page-banner .info li a i {
    margin-right: 5px;
}
.page-banner .info li a:before {
    margin: 0 15px 0 10px !important;
}
.page-banner p {
    width: 100%;
}
.breadcrumb-list ul li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb-list ul li a {
    color: #fff;
    font-size: 18px;
}
.breadcrumb-list ul li a:before,
.page-banner .info li a:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    margin: 0 5px;
}
.beadcrumb-list ul li:first-child a:before,
.page-banner .breadcrumb-list li:first-child a:before,
.page-banner .info li:first-child a:before {
    display: none;
}
.seemore i,
.seemore span {
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.seemore:hover i,
.seemore:hover span {
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
#loading_box {
    background-color: rgba(0, 0, 0, 0.4);
}
.header-top {
    background-color: #f8f9fa;
}
.header-top .language {
    padding: 5px 0;
}
.header-top .language a {
    font-size: 14px;
    display: flex;
    letter-spacing: normal;
    color: #464e5c;
    display: block;
}
.header-top .language a img {
    margin-right: 10px;
    width: 24px;
}
.header-top .language a i {
    margin-left: 5px;
}
.header-main {
    padding: 5px 0;
}
.header-main .search-form button {
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #464e5c;
    font-size: 20px;
}
.header-main .search-form form {
    position: relative;
}
.header-main .search-form .form-control {
    height: 42px;
    line-height: 42px;
    width: 360px;
}
.header-main .search-form .select {
    position: relative;
}
.header-main .search-form .select:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.header-main .search-form select {
    height: 42px;
    border-radius: 0;
    width: 160px;
    border-right: 0;
    padding: 10px;
}
.header-main .search-form .form-control {
    border-radius: 0;
}
.header-main .icon-box {
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.header-main .icon-box i {
    color: #00859b;
    font-size: 30px;
    margin-right: 10px;
}
.header-main p {
    margin-bottom: 0;
    font-size: 12px;
    color: #0d222a;
}
.header-main p b {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #0d222a;
    margin-top: -4px;
}
.header-bottom {
    background-color: #00859b;
}
.header-bottom a,
.header-bottom i {
    color: #fff;
}
.header-category {
    display: flex;
}
.header-category i {
    margin-right: 10px;
}
.header-category a {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.header-bottom a {
    padding: 10px 0;
    display: block;
}
.main-menu li {
    display: inline-block;
    margin-left: 27px;
    position: relative;
}
.main-menu li a {
    font-weight: 500;
    color: #fff;
}
.main-menu li i {
    margin-left: 5px;
}
.site-header .main-menu ul .sub-menu {
    border-top: 2px solid #00859b;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    position: absolute;
    left: 0;
    top: 110%;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    min-width: 230px;
    padding: 20px 25px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.site-header .main-menu ul li:hover .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.header-cate .list {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px 0;
}
.site-header .main-menu ul .sub-menu li {
    display: block;
    margin-left: 0;
}
.site-header .main-menu ul .sub-menu li a:hover {
    padding-left: 5px;
}
.site-header .main-menu ul .sub-menu li a {
    text-align: left;
}
.main-slider-area {
    margin-bottom: 40px;
}
.main-slider-area .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}
.main-slider-area .content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: SVN-GilroyBold;
    color: #fff;
}
.main-slider-area .content p {
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 25px;
}
.categories-area {
    margin-bottom: 40px;
}
.category-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.category-wrapper .category-item {
    border: solid 1px #ebebeb;
    border-right: none;
    padding: 20px;
}
.category-wrapper .category-item:last-child {
    border-right: solid 1px #ebebeb;
}
.category-wrapper .category-item img {
    border-radius: 15px;
}
.category-item h3 a {
    font-size: 14px;
    font-weight: 500;
    color: #0d222a;
    text-align: center;
    display: block;
    margin-top: 12px;
}
.product-item .thumbnail a {
    height: 205px;
    display: block;
    width: 100%;
}
.products-area {
    margin-bottom: 40px;
}
.products-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.products-wrapper .product-item {
    border-right: none;
}
.products-wrapper .product-item:nth-child(5n) {
    border-right: solid 1px #ebebeb;
}
.product-item {
    border: solid 1px #ebebeb;
    padding: 15px;
}
.product-item .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.product-item h3 a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: #0d222a;
    margin-top: 10px;
}
.product-item p {
    font-size: 14px;
    color: #464e5c;
    margin-bottom: 0;
}
.product-item p.price {
    font-size: 14px;
    font-weight: 700;
    color: #00859b;
}
.product-item p.date {
    font-size: 12px;
    color: #464e5c;
    margin-bottom: 0;
}
.product-item p.date i {
    margin-right: 5px;
}
.news-area {
    margin-bottom: 40px;
}
article.post .thumbnail {
    margin-bottom: 15px;
}
article.post .thumbnail a {
    display: block;
}
article.post .thumbnail a img {
    width: 100%;
}
article.post {
    padding: 15px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
}
article.post h3 a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #0d222a;
}
article.post p {
    font-size: 14px;
    line-height: 1.5;
    color: #464e5c;
}
article.post p.date {
    font-size: 12px;
    color: #464e5c;
    margin-bottom: 0;
}
article.post p.date i {
    margin-right: 5px;
}
.partners-area {
    margin-bottom: 40px;
}
.partners-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.partners-wrapper .partner-item {
    border-right: none;
    border-top: none;
}
.partners-wrapper .partner-item:nth-child(1),
.partners-wrapper .partner-item:nth-child(2),
.partners-wrapper .partner-item:nth-child(3),
.partners-wrapper .partner-item:nth-child(4),
.partners-wrapper .partner-item:nth-child(5),
.partners-wrapper .partner-item:nth-child(6) {
    border-top: solid 1px #ebebeb;
}
.partners-wrapper .partner-item:nth-child(6n) {
    border-right: solid 1px #ebebeb;
}
.partner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ebebeb;
    height: 100px;
}
.services-wrapper {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
}
.services-wrapper .services-item {
    border-right: none;
}
.services-wrapper .services-item:last-child {
    border-right: solid 1px #ebebeb;
}
.services-item {
    border: solid 1px #ebebeb;
    padding: 15px;
}
.services-item .icon {
    margin-right: 12px;
}
.services-item h3 {
    font-size: 14px;
    font-weight: 700;
    color: #0d222a;
}
.services-item p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
    color: #464e5c;
}
.site-footer {
    background-image: url(assets/images/footer-bg-copy.jpg);
    background-size: cover;
    background-position: center center;
}
.site-footer .widget a,
.site-footer p {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
}
.site-footer .widget .widget-title {
    font-family: SVN-GilroyBold;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}
.site-footer .widget .widget-title:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    bottom: -10px;
}
.socials li {
    display: inline-block;
    margin-right: 6px;
}
.socials li a {
    width: 36px;
    height: 36px;
    padding: 10px;
    display: block;
    border-radius: 3px;
    background-color: #fff;
    color: #833ab4 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-list li a:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
}
.widget-list li a {
    font-size: 14px;
    display: block;
    margin-bottom: 12px;
    position: relative;
    padding-left: 20px;
    color: #fff;
}
.widget-info li {
    position: relative;
    padding-left: 20px;
}
.widget-info li i {
    position: absolute;
    left: 0;
    top: 5px;
}
.footer-main {
    margin-bottom: 65px;
}
.site-footer {
    padding: 80px 0 60px;
}
.header-cate {
    width: 225px;
    position: relative;
}
@media screen and (max-width: 1024px) {
    .header-cate {
        width: 215px;
    }
}
.header-cate .btn {
    height: 47px;
    cursor: pointer;
    background: url(img/common/arrow-down-w.png) no-repeat;
    background-position: center right 14px;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 0 0 13px;
}
@media screen and (max-width: 1024px) {
    .header-cate .btn {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 0;
    }
}
.header-cate .btn img {
    margin-right: 12px;
}
.header-cate .list {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px 0;
    z-index: 99;
}
@media screen and (max-width: 834px) {
    .header-cate .list {
        width: 100vw;
        left: -10px;
    }
}
.header-cate:hover .list {
    pointer-events: auto;
    opacity: 1;
}
@media screen and (max-width: 834px) {
    .header-cate .list .item {
        position: relative;
    }
}
.header-cate .list .item > a {
    font-size: 14px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 42px 9px 17px;
    position: relative;
    color: #2b2b2b;
}
.header-cate a {
    color: #2b2b2b;
    font-size: 14px;
}
.header-cate .list .item:hover > a {
    background-color: #00859b;
    color: #fff;
}
.header-cate .list .item:hover > a:after {
    border-color: #fff;
}
@media screen and (max-width: 1024px) {
    .header-cate .list .item > a {
        font-size: 13px;
        font-size: 1.3rem;
    }
}
.header-cate .list .item > a:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 32px;
}
.header-cate .list .item > a:hover:after {
    border-color: #fff;
}
@media screen and (max-width: 834px) {
    .header-cate .list .item > a:after {
        display: none;
    }
}
.header-cate .list .item.noSub > a:after {
    display: none;
}
.header-cate .list .item .sub {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.35;
    color: #4f4f4f;
}
.header-cate .list .item .sub li a {
    padding: 6px;
}
.header-cate .list .item .sub li:hover a {
    background-color: #00859b;
    color: #fff !important;
}
@media screen and (min-width: 835px) {
    .header-cate .list .item .sub {
        position: absolute;
        top: 0;
        left: 100%;
        width: 800px;
        min-height: 100%;
        background: #fff;
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }
}
@media screen and (max-width: 834px) {
    .header-cate .list .item .sub {
        display: none;
    }
}
.header-cate .list .item .sub ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 16px 17px;
}
@media screen and (max-width: 834px) {
    .header-cate .list .item .sub ul {
        padding: 10px;
    }
}
.header-cate .list .item .sub ul li {
    width: 33.33%;
    margin-bottom: 10px;
}
@media only screen and (max-width: 550px) {
    .header-cate .list .item .sub ul li {
        width: 55%;
    }
}
@media screen and (max-width: 374px) {
    .header-cate .list .item .sub ul li {
        width: 100%;
    }
}
.header-cate .list .item:hover .sub {
    opacity: 1;
    pointer-events: auto;
}
@media screen and (max-width: 834px) {
    .header-cate .list .item .btn-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #00859b;
        top: 4px;
        right: 10px;
    }
    .header-cate .list .item .btn-arrow:after,
    .header-cate .list .item .btn-arrow:before {
        position: absolute;
        content: "";
        background: #fff;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .header-cate .list .item .btn-arrow:before {
        width: 2px;
        height: 12px;
    }
    .header-cate .list .item .btn-arrow:after {
        height: 2px;
        width: 12px;
    }
}
.breadcrumbs {
    padding: 20px 0;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li a {
    font-size: 14px;
    color: #464e5c;
}
.breadcrumbs li a:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin: 0 2px 0 6px;
}
.breadcrumbs li span {
    display: block;
    font-weight: 500;
    color: #00859b;
}
.second-title {
    font-size: 26px;
    font-weight: 700;
    color: #0d222a;
    margin-bottom: 30px;
}
.product-grid .thumbnail {
    margin-right: 15px;
}
.product-grid .thumbnail a {
    display: block;
    width: 150px;
    height: 150px;
}
.product-grid {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
}
.product-grid h3 a {
    font-size: 16px;
    font-weight: 500;
    color: #0d222a;
}
.product-grid p {
    font-size: 14px;
    line-height: 1.5;
    color: #464e5c;
    margin-bottom: 5px;
}
.product-grid .thumbnail a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.right-sidebar h2 {
    font-size: 14px;
    font-weight: 700;
    color: #0d222a;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.right-sidebar ul li a {
    display: block;
    font-size: 14px;
    color: #464e5c;
    margin-bottom: 12px;
}
.pagination {
    margin: 10px 0 40px;
}
.pagination li {
    display: inline-block;
    margin: 0 4px;
}
.pagination li a {
    border: solid 1px #ebebeb;
    background-color: #fff;
    width: 38px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    font-weight: 600;
    color: #464e5c;
}
.pagination li.active a {
    color: #fff;
    border-color: #00859b;
    background-color: #00859b;
}
.applier-main .thumbnail img {
    width: 120px;
    height: 120px;
    margin: 0 12px 0 0;
    border-radius: 4px;
    margin-right: 15px;
}
.applier-main .info h1 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    color: #0d222a;
}
.applier-main p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #464e5c;
}
.applier-main p i {
    color: #facb00;
}
.applier-main .action-item {
    width: 278px;
    height: 40px;
    border-radius: 3px;
    background-color: #00859b;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.applier-main .action-item.phone a,
.applier-main .action-item.phone i,
.applier-main .action-item.phone span {
    color: #fff;
}
.applier-main .action-item.chat {
    border: solid 1px #00859b;
    background-color: rgba(0, 133, 155, 0.1);
}
.applier-main .action-item.chat i {
    color: #00859b;
}
.applier-main .action-item a.text-uppercase {
    font-size: 12px;
    font-weight: 500;
    color: #00859b;
}
.applier-main {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
}

/*css detai*/

.share-options.active{
    transform: scale(1);
    transition-delay: 0s;
}

.social-media-btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}

.social-media-btn:nth-child(1){
    background: #547fff;
}

.social-media-btn:nth-child(2){
    background: #FFA654;
}

.social-media-btn:nth-child(3){
    background: #aba8a8;
}
.widget-detail-new .thumbnail img {
    width: 90px;
    object-fit: cover;
    object-position: center center;
}
.fix-images-logo .thumbnail img {
    width: 100%;
    height: auto;
}
.detail_product .card-img-detail-prd img {
  width: 100%;
}
.detail_product .applier-main {
    border: 0;
}
.title-custom{
    position: relative;
}
.title-custom.line-bottom::before{
    content: "";
    height: 2px;
    background: #00859b;
    display: block;
    width: 36px;
    position: absolute;
    bottom: -6px;
    transform: translate(0, 100%);
    left: 0;
}
.title-custom.line-bottom::after{
    content: "";
    height: 2px;
    background: #eee;
    display: block;
    width: calc(100% - 36px);
    position: absolute;
    bottom: -6px;
    transform: translate(0, 100%);
    right: 0px;

}
.custom-box-logo{
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #eeee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-box-logo > img{
    width: 100%;
}
.btn-only-mb{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
}
.row-custom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.show-ion{
    display: block;
}
.close-icon{
    display: none;
}
@media screen and (max-width: 767px) {
    .products-wrapper{
        display: block !important;
    }
    .display-detail-new {
        display: block !important;
    }
    .services-wrapper{
        display: block !important;
    }
    .partners-wrapper{
        display: block !important;
    }
    .category-wrapper{
        display: block !important;
    }
    .applier-main {
        display: block !important;
    }
    .header-bottom.only-mobile {
        position: relative;
    }
    .btn-only-mb {
        display: flex;
    }
    .product-grid {
        display: block !important;
    }
    .product-grid .thumbnail a {
        width:100%;
        height:100%;
    }
    .main-menu.custom-mb{
        position: absolute;
        width: 100%;
        background: #FFFFFF;
        z-index: 9999;
        left: 0;
        bottom: -1px;
        transform: translate(0, 100%);
        box-shadow: 1px 2px 0px 0px #9792924d;
        border-radius: 0 0 4px 4px;
        display: none;
        transition: all 0.7s ease-in-out;
    }
    .col-r.show .main-menu.custom-mb,
    .col-r.show .close-icon
    {
        display: block;
    }
    .col-r.show .show-ion{
        display: none;
    }

    .main-menu.custom-mb > ul > li{
        display: flex;
        margin-left: 0;
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
    }
    .main-menu.custom-mb > ul > li > a{
        color: #000;
    }
}

/*css chat box footer*/
.site-footer .contact-footer {
    position: fixed;
    text-align: right;
    margin-right: 16px;
    right: 0;
    bottom: 30px;
}
.site-footer .contact-footer img {
    margin-right: 15px ;
    margin-top: 10px;
}
.site-footer .contact-footer p {
    color: #1b1e21;
}
.site-footer .contact-footer .border-icon-footer {
    border: 1px solid #ebebeb;
}


