@font-face {
  font-family: 'SVN-GilroyBold';
  src: url('SVN-GilroyBold.eot');
  src: url('SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
       url('SVN-GilroyBold.svg#SVN-GilroyBold') format('svg'),
       url('SVN-GilroyBold.ttf') format('truetype'),
       url('SVN-GilroyBold.woff') format('woff'),
       url('SVN-GilroyBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

